@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var site = Model.Root();
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
}

<section class="nav-section">
    <div class="container">
        <a href="/"><img class="logotype" src="/images/logos/logotype.svg" alt=""></a>
        <nav>
            <div class="first-row">
                <div class="company-info">
                    <span><i class="fa-regular fa-phone-volume"></i> +46 (8) 121 470 50</span>
                    <span><i class="fa-regular fa-envelope"></i> info@crito.com</span>
                    <span><i class="fa-sharp fa-regular fa-location-dot"></i> Sveavägen 31, 111 34 STockhom</span>
                </div>
                <div class="social-media">
                    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="second-row">
                <div class="navbar">
                    <a class=" @(Model.Id == site.Id ? "active": null)" href="@site.Url()">@site.Name</a>

                    @if (selection?.Length > 0)
                    {
                       
                            @foreach (var item in selection)
                            {
                                <a class="@(item.IsAncestorOrSelf(Model) ? "active": null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                            }
                        
                    }

                </div>
                <a class="btn-theme" href="/login">Login<i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </nav>
    </div>
</section>