@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithShowcase.cshtml";
}@await Html.PartialAsync("_BrandSection")


    <!-- features part -->
    
    <section class="feature-section">
        <div class="container">
            <div class="section-border">
                <div class="section-title">@Model.Value("serviceSectionTitle")</div>
                 <div class="feature-grid">
                      <div class="feature-learnmore">
                        <h2>@Model.Value("serviceFeaturesHeading")</h2>
                        <a class="btn-theme" href="@Model.Value("showcaseButtonUrl")">@Model.Value("showcaseButtonText") <i class="fa-solid fa-arrow-up-right"></i></a>
                    </div>
                    <div class="feature-boxes">
                        @Html.GetBlockListHtml(Model.ServiceFeatures)
                    </div>
                </div>
            </div>
        </div>
    </section>

@await Html.PartialAsync("_AboutCompany")
@await Html.PartialAsync("_OurServicesSection",Model)




 <section class="chooseus-section ">
   
    <div class="container">
        <div class="content-column">
            <p>@Model.Value("chooseUsTitle")</p>
            <h2>@Model.Value("chooseUsHeading")</h2>
            <ul>
                 @Html.GetBlockListHtml(Model.ChooseUsList)
            </ul>
        </div>
        <div class="image-column">
            @{
                var chooseusImage = Model.Value<MediaWithCrops>("chooseusImage");
                if (chooseusImage != null)
                {
                    <img src="@chooseusImage.MediaUrl()" alt="@Model.Value("chooseUsTitle")">
                }
            }
        </div>
    </div>
     <div class="rectangle-gray"></div>
</section>